:root {
  --db-color-red: rgba(250, 0, 0, 0.2);
  --db-color-blue: rgba(0, 0, 250, 0.2);
  --db-color-green: rgba(0, 250, 0, 0.2);
  --db-color-yellow: rgba(254, 254, 2, 0.2);
  --db-color-purple: rgba(250, 0, 250, 0.2);

  --nav_bar_height: 60px;
}

/* debug rules */
.ms_debug {
  border: 1px dashed red;
  background-color: var(--db-color-green);
  min-height: 20px;
}
h1 {
  color: red;
}

/* body */

/* navbar */

#nav_bar {
  /* height: var(--nav_bar_height);
  line-height: var(--nav_bar_height); */
  background-color: white;
  height: var(--nav_bar_height);
}
.Logo_image {
  height: 40px;
  max-width: auto;
}

/* sidebar */
#page_sidebar,
#page_content {
  height: calc(100vh - var(--nav_bar_height));
}

#page_sidebar {
  background: rgb(4, 4, 60);
  background: linear-gradient(
    228deg,
    rgba(4, 4, 60, 1) 37%,
    rgba(35, 40, 107, 1) 37%
  );
}
section {
  margin: 10px 0;
}

/* blue header */

#blue_header {
  background-color: #1b72e8;
}

/* offcanvas */

.offcanvas.offcanvas-end {
  /* TODO - MANCA MAX-WIDTH FUNZIONANTE */
  width: 700px;
  overflow: auto;
  overflow-x: hidden;
}
